*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
header{
    background-image: linear-gradient(#111111,#777777);
}
.logo a{
    color: rgba(230, 83, 60, 1);
}
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 8px 20px;
    color: rgba(255, 255, 255, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
.menu-items{
    width: 50%;
}
.menu-items ul{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.menu-items ul li a{
    color: rgba(255, 255, 255, 1);
}
.hero-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    width: 40%;
}
.hero-img{
    position: relative;
}
.hero-content h2{
    margin-top: 90px;
    font-weight: bold;
    font-size: 4rem;
    width: 90%;
    color: rgba(255, 255, 255, 1);
}
.hero-content p{
    margin: 10px;
    font-weight: 500;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 1);
}
.hero-content .shape{
    font-weight:300;
}
.btn-container{
    margin-top: 40px;
}
.btn-secondary{
    color: white;
    padding: 16px 48px;
    border: 3px solid white;
    border-radius: 40px;
}
.join{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 16px 40px;
    color: white;
}
.hero-box1{
    position: absolute;
    top: 110px;
    right: 40px;
    display: flex;
    color: white;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    /* opacity: 0.1; */
    padding: 20px;
}
.workout h3 {
    font-size: 40px;
    font-weight: bold;
}
.hero-box{
    position: absolute;
    bottom: 40px;
    display: flex;
    color: white;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    /* opacity: 0.1; */
    padding: 20px;
}
.ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
}
.ball-content{
    color: #fff;
}
.menu-icon{
    color: white;
    font-size: 1.5rem;
    display: none;
}

@media screen and (max-width: 576px ) {
    .menu-items ul{
        display: none;
    }
    .menu-icon{
        display: block;
        text-align: right;
    }
    .hero-row{
        flex-direction: column;
    }
    .hero-content{
        width: 90%;
    }
    .join,.btn-secondary{
        padding: 16px 20px;
    }
    .btn-container{
        text-align: center;
    }
    .hero-box{
        bottom: 240px;
        left: 30px;
    }
    .hero-content,.logo a{
        margin-left: 20px;
    }
}